:root {
  /* Fonts */
  --primary-font: "Montserrat", sans-serif;
  --secundary-font: "Fraunces", sans-serif;

  /* Colors */

  /* -- Primary -- */
  --dark-cyan: hsl(158, 36%, 37%);
  --very-dark-cyan: hsl(158, 30%, 20%);
  --cream: hsl(30, 38%, 92%);

  /* -- Neutral -- */
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-garyish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-size: 62.5%; /* px => rem */
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/** Globals **/
body {
  font-family: var(--primary-font);
  background-color: var(--cream);
  font-size: 1.6rem;
  line-height: 2;
}

@media (min-width: 768px) {
  .container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

a {
  text-decoration: none;
}

h1 {
  font-family: var(--secundary-font);
  line-height: 1.2;
  color: var(--very-dark-blue);
}

@media (min-width: 1140px) {
  h1 {
    font-size: 3.5rem;
  }
}

p {
  color: var(--dark-garyish-blue);
  font-size: 1.4rem;
}

@media (min-width: 1140px) {
  p {
    font-size: 1.2rem;
  }
}

img {
  max-width: 100%;
}

/* Utilities */

.no-margin {
  margin: 0;
}

/* Product Card Component */
.card {
  background-color: var(--white);
  margin: 2rem;
  border-radius: 1.5rem;
}

.card__image img {
  content: url("/images/image-product-mobile.jpg");
  width: 100%;
  display: block;
  aspect-ratio: 1 /1;
  object-fit: cover;
  border-radius: 1.5rem 1.5rem 0 0;
}

@media (min-width: 540px) {
  .card__image img {
    height: 40rem;
  }
}

@media (min-width: 768px) {
  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .card__image img {
    content: url("/images/image-product-desktop.jpg");
    height: 50rem;
    border-radius: 1.5rem 0 0 1.5rem;
  }
}

@media (min-width: 1140px) {
  .card {
    max-width: 50%;
  }
}

.card__content {
  padding: 2.5rem;
}

@media (min-width: 1140px) {
  .card__content {
    padding: 2rem;
  }
}

@media (min-width: 1440px) {
  .card__content {
    padding: 5rem;
  }
}

.card__label {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}

.card__info-price {
  font-family: var(--secundary-font);
  display: flex;
  align-items: center;
}

.card__offer-price {
  font-family: var(--secundary-font);
  color: var(--dark-cyan);
  font-size: 2.5rem;
  margin-right: 1.5rem;
}

.card__original-price {
  text-decoration: line-through;
}

.card__button {
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  padding: 1.5rem;
  background-color: var(--dark-cyan);
  color: var(--white);
}

.card__button:hover {
  cursor: pointer;
}

.card__button:active {
  background-color: var(--very-dark-cyan);
}

/* Attribution */
.attribution {
  font-size: 1.1rem;
  text-align: center;
  padding: 0 1rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
